.sensorCard{
    border-radius: 1rem;
    box-shadow: var(--shadow);
    width: 30rem;
    height: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    transition: .2s ease;
}

.sensorCard:hover{
    box-shadow: var(--shadow-hover);
}



.colorHead{
    color: var(--color-text);
    font-weight: bold;
    font-size: 2rem;
}

.tableSensor{
    width: 100%;
}