.sensosInfo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    height: 50rem;
    overflow-y: scroll;
    margin-top: 5rem;
    padding: 2rem;
}

.sensoStyle{
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}