@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --font: 'Roboto', sans-serif;
  --color-main: #2C3E50;
  --color-input: #EDEDED;
  --color-white: #FFFF;
  --color-text: #555555;
  --shadow:  0px 5px 77px rgba(0, 0, 0, 0.11), 0px 0.626078px 9.64159px rgba(0, 0, 0, 0.055);
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--font);
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    margin:0;
    font-family: var(--font);
}

h1,h2,h3,p,a,li,ul,input,label,form,button{
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

a{
  text-decoration: none;
  cursor: pointer;
}

.container{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

